

<form action="/result" method="post">


<h2>取得した単位を入力！</h2>


<div class="select-wrapper row">
  <label class="col s6">専門科目</label>
  <select class="browser-default col s6" name="expert">
    <option value="" disabled selected>単位数</option>
    <% (0..30).each do |num| %>
    <option value="<%= num %>"><%= num %></option>
    <% end %>
  </select>

</div>



  <div class="select-wrapper row">
    <label class="col s6">選択必須</label>
    <select class="browser-default col s6" name="expertSelect">
      <option value="" disabled selected>単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s6">学科選択</label>
    <select class="browser-default col s6" name="unitExpertSelect">
      <option value="" disabled selected>単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>





  <input class="waves-effect waves-light btn-large center-btn" type="submit" value="診断">

</form>

