<form action="" method="post">

<h1>取得した単位を入力！</h1>

<div class="select-wrapper row">
  <label class="col s7">専門科目</label>
  <select class="browser-default col s2">
    <option value="" disabled selected>取得した単位数</option>
    <% (0..30).each do |num| %>
    <option value="<%= num %>"><%= num %></option>
    <% end %>
  </select>
  <div class="col s3"></div>
</div>

  <div class="select-wrapper row">
    <label class="col s7">専門科目</label>
    <select class="browser-default col s2">
      <option value="" disabled selected>取得した単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>
    <div class="col s3"></div>
  </div>

  <div class="select-wrapper row">
    <label class="col s7">専門科目</label>
    <select class="browser-default col s2">
      <option value="" disabled selected>取得した単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>
    <div class="col s3"></div>
  </div>
  

</form>
