

<form action="/result" method="post">


<h2>取得した単位を入力！</h2>


  <div class="select-wrapper row">
    <label class="col s6">共通教育</label>
    <select class="browser-default col s6" name="common">
      <option value="" disabled selected>単位数</option>
      <% (0..50).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>

<div class="select-wrapper row">
  <label class="col s6">必修科目</label>
  <select class="browser-default col s6" name="compulsory">
    <option value="" disabled selected>単位数</option>
    <% (0..50).each do |num| %>
    <option value="<%= num %>"><%= num %></option>
    <% end %>
  </select>

</div>



  <div class="select-wrapper row">
    <label class="col s6">選択科目</label>
    <select class="browser-default col s6" name="expertSelect">
      <option value="" disabled selected>単位数</option>
      <% (0..40).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s6">自由科目</label>
    <select class="browser-default col s6" name="freedom">
      <option value="" disabled selected>単位数</option>
      <% (0..40).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>





  <input class="waves-effect waves-light btn-large center-btn" type="submit" value="check">

</form>

