

<form action="/result" method="post">


<h2>取得した単位を入力！</h2>


  <div class="select-wrapper row">
    <label class="col s5">健康運動</label>
    <select class="browser-default col s7" name="exercise">
      <option value="" disabled selected>単位数</option>
      <% (0..10).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>

  <div class="select-wrapper row">
    <label class="col s5">人文</label>
    <select class="browser-default col s7" name="humanity">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">社会</label>
    <select class="browser-default col s7" name="society">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>

  <div class="select-wrapper row">
    <label class="col s5">自然</label>
    <select class="browser-default col s7" name="nature">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">総合</label>
    <select class="browser-default col s7" name="synthesis">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">琉大特色</label>
    <select class="browser-default col s7" name="feature">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">情報</label>
    <select class="browser-default col s7" name="information">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>

  <div class="select-wrapper row">
    <label class="col s5">第一外国語</label>
    <select class="browser-default col s7" name="language1">
      <option value="" disabled selected>単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">第二外国語</label>
    <select class="browser-default col s7" name="language2">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s5">学科特色</label>
    <select class="browser-default col s7" name="dep_feature">
      <option value="" disabled selected>単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>


  <div class="select-wrapper row">
    <label class="col s5">学科基礎</label>
    <select class="browser-default col s7" name="dep_basic_compulsory">
      <option value="" disabled selected>単位数</option>
      <% (0..40).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s5">学科基礎（選択）</label>
    <select class="browser-default col s7" name="dep_basic_select">
      <option value="" disabled selected>単位数</option>
      <% (0..20).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s5">学科選択</label>
    <select class="browser-default col s7" name="dep_select">
      <option value="" disabled selected>単位数</option>
      <% (0..30).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>



  <div class="select-wrapper row">
    <label class="col s5">自由科目</label>
    <select class="browser-default col s7" name="freedom">
      <option value="" disabled selected>単位数</option>
      <% (0..50).each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>

  </div>




<!--  exercis-->
<!--  humanity-->
<!--  society-->
<!--  synthesis-->
<!--  feature-->
<!--  information-->
<!--  language1-->
<!--  language2-->
<!--  DFeature-->
<!--  DBasicCompulsory-->
<!--  DBasicSelect-->
<!--  DSelect-->

  <input class="waves-effect waves-light btn-large center-btn" type="submit" value="check">

</form>

