
<h2>卒業まであと"</h2>

<span class="remaindUnit"><%= @remaindUnit %></span>
<p class="arrange">単位</p>



<div class="row">
  <p class="col s5 arrange">健康運動</p>
  <p class="col s4 arrange"><%= exercise %></p>
  <p class="col s3 arrange"> /２</p>
</div>


<div class="row">
  <p class="col s5 arrange">人文</p>
  <p class="col s4 arrange"><%= @humanity %></p>
  <p class="col s3">/４</p>
</div>

<div class="row">
  <p class="col s5 arrange">社会</p>
  <p class="col s4 arrange"><%= @society %></p>
  <p class="col s3">/４</p>
</div>

<div class="row">
  <p class="col s5 arrange">自然</p>
  <p class="col s4 arrange"><%= @nature %></p>
  <p class="col s3">/４</p>
</div>

<div class="row">
  <p class="col s5 arrange">総合</p>
  <p class="col s4 arrange"><%= @synthesis %></p>
  <p class="col s3">/</p>
</div>


<div class="row">
  <p class="col s5 arrange">琉大特色</p>
  <p class="col s4 arrange"><%= @feature %></p>
  <p class="col s3">/</p>
</div>


<div class="row">
  <p class="col s5 arrange">情報</p>
  <p class="col s4 arrange"><%= @information %></p>
  <p class="col s3 arrange"> /</p>
</div>


<div class="row">
  <p class="col s5 arrange">第一外国語</p>
  <p class="col s4 arrange"><%= @language1 %></p>
  <p class="col s3">/１０</p>
</div>

<div class="row">
  <p class="col s5 arrange">第二外国語</p>
  <p class="col s4 arrange"><%= @language2 %></p>
  <p class="col s3">/</p>
</div>


<div class="row">
  <p class="col s5 arrange">学科特色</p>
  <p class="col s4 arrange"><%= @DFeature %></p>
  <p class="col s3">/１６</p>
</div>


<div class="row">
  <p class="col s5 arrange">学科基礎</p>
  <p class="col s4 arrange"><%= @DBasicCompulsory %></p>
  <p class="col s3">/２０</p>
</div>


<div class="row">
  <p class="col s5 arrange">学科基礎（選択）</p>
  <p class="col s4 arrange"><%= @DBasicSelect %></p>
  <p class="col s3 arrange"> /４</p>
</div>


<div class="row">
  <p class="col s5 arrange">学科選択</p>
  <p class="col s4 arrange"><%= @DSelect %></p>
  <p class="col s3">/１４</p>
</div>

<div class="row">
  <p class="col s5 arrange">自由</p>
  <p class="col s4 arrange"><%= @freedom %></p>
  <p class="col s3">/３８</p>
</div>

<a href="/" class="waves-effect waves-light btn-large center-btn">top</a>
